@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:2550px) { /*pc*/
	p {
		margin: 8px 0;
		font-weight: 600;
		font-size: 12px;
	}
	p.movie_title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 200px;
		height: 20px;
	}
	img.movie_poster {
    width: 202px;
    height: 290px;
	}
	p.movie_title {
    font-size: 14px;
    text-align: center;
    padding-bottom: 23px;
	}
	p.movie_rate {
    font-size: 14px;
    color: #ffcd05;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: -50px;
	}
	img.movie_poster2 {
    height: 240px;
    width: 220px;
    padding-right: 50px;
    margin-left: -10px;
	}
	p.movie_title2 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 150px;
		height: 20px;
		font-size: 14px;
    	text-align: center;
    	padding-bottom: 23px;
	}
	ul.nav.nav-tabs {
    padding-left: 550px;
	}
	
	img.movie_poster3 {
    width: 200px;
    max-height: 100%;
    margin-left: 30px;
    padding-right: 30px;
	}
	p.movie_title3 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 150px;
		height: 20px;
		font-size: 14px;
    	text-align: center;
    	padding-bottom: 23px;
    	margin-left: 30px;
	}
	span.rate_pont {
    font-size: 29px;
    margin-left: 20px;
	}
	button.btn.btn-md.btn-primary.active {
    background: #f74788;
    border-color: #f74788;
	}
}

@media screen and (min-width:0px) and (max-width:767px) { /*모바일*/
	p {
		margin: 4px 0;
		font-weight: 500;
		font-size: 8px; 
	}
	p.movie_title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 110px;
		height: 20px;
		 font-size: 12px;
    	text-align: center;
    	padding-bottom: 23px;
	}
	img.movie_poster {
    height: 200px;
    width: 180px;
    padding-right: 50px;
    margin-left: -10px;
	}
	p.movie_rate {
    font-size: 11px;
    color: #ffcd05;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 16px;
	}
	img.movie_poster2 {
    height: 200px;
    width: 180px;
    padding-right: 50px;
    margin-left: -10px;
	}
	p.movie_title2 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 110px;
		height: 20px;
		 font-size: 12px;
    	text-align: center;
    	padding-bottom: 23px;
	}
	
	img.movie_poster3 {
  	height: 200px;
    width: 180px;
    padding-right: 50px;
    margin-left: -10px;
	}
	span.rate_pont {
    font-size: 23px;
    margin-left: 10px;
	}
	
	button.btn.btn-md.btn-primary.active {
    background: #f74788;
    border-color: #f74788;
	}
	p.movie_title3 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 110px;
		height: 20px;
		 font-size: 12px;
    	text-align: center;
    	padding-bottom: 23px;
	}
}