@charset "UTF-8";

.mailBtn{
	border:none;
	background-color:#e3e3e3;
	border-radius:5px;
	width:120px;
	height:36px;
	font-weight:600;
	margin-top:15px;
	margin-left:190px;
}

.permitInput{
	display:none;
	margin-top: 15px;
    margin-left: 190px;
}

.permitBtn{
	margin-top:15px;
	border:none;
	border-radius:5px;
	width:120px;
	height:36px;
	font-weight:600;
	color:#333;
	background-color:#e3e3e3;
}

.display{
	display:none;
	margin-left:15px;
}